<h1>Kalorienrechner</h1>

<h3>Mein Kalorienrechner hilft dir deinen Tagesbedarf an Kalorien genau zu berechen. <br><br> Zudem kannst du auswählen ob du Gewicht verlieren, halten oder aufbauen möchtest. Zusätzlich werden dir die richtigen Produkte vorgeschlagen, welche dich bei deiner Zielsetzung unterstützen werden.</h3>

<form method="POST">
<h3>Alter</h3>
	<input type="number" name="alter" min=”1″ max=”100″ placeholder="Bitte gib dein Alter ein">

<h3>Grösse in cm:</h3>
	<input type="number" name="groesse" min=”40″ max=”250″ placeholder="Bitte gib deine Grösse in cm ein(z.B. 175)">

<h3>Gewicht in kg:</h3>
	<input type="number" name="gewicht" min=”30″ max=”200″ placeholder="Bitte gib deine Grösse in cm ein(z.B. 175)">











	<button type="submit">Senden</button>
</form>

