
<!DOCTYPE html>
<html>
<head>
	<title>Kalorienrechner</title>
	<meta charset="utf-8">

	<!-- Einbindung CSS (Bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Einbindung CSS (main.css) -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<section class="content">
<div class="container">
<h1>Kalorienrechner</h1>

<h4>Mein Kalorienrechner hilft dir deinen Tagesbedarf an Kalorien genau zu berechen.<h4>

<br>
<br>

<p>Zudem kannst du auswählen ob du Gewicht verlieren, halten oder aufbauen möchtest. Zusätzlich werden dir die richtigen Produkte vorgeschlagen, welche dich bei deiner Zielsetzung unterstützen werden.</p>

<form method="POST">
<div class="row">
<div class="center col-6">	
<h3>Geschlecht:</h3>

			<br>
<form action="">
  	<input type="radio" name="geschlecht" value="m"> Männlich<br>
 	<input type="radio" name="geschlecht" value="f"> Weiblich<br>
</form>
</div>
<div class="center col-6">
<h3>Alter:</h3>

			<br>
	<input type="number" name="alter" min=”1″ max=”100″ placeholder="Bitte gib dein Alter ein">
</div>
</div>
<div class="row">
<div class="center col-6">	
<h3>Grösse in cm:</h3>

			<br>
	<input type="number" name="groesse" min=”40″ max=”250″ placeholder="Bitte gib deine Grösse in cm ein(z.B. 175)">
</div>
<div class="center col-6">	
<h3>Gewicht in kg:</h3>

			<br>
	<input type="number" name="gewicht" min=”30″ max=”200″ placeholder="Bitte gib deine Grösse in cm ein(z.B. 175)">
</div>
</div>
<div class="row">
<div class="center col-6">	
<h3>Aktivitätslevel:</h3>

		Bitte auswählen:
			<br>
			<br>
			<select class="custom-select">
			  <option value="1">vorwiegend liegend, z.B. Krankenhaus</option>
			  <option value="2">vorwiegend sitzend, z.B. Bürojob</option>
			  <option value="3">Mix aus sitzend / stehend, z.B. Barkeeper</option>
			  <option value="4">Mix aus stehend / gehend, z.B. Hostess</option>
			  <option value="5">sehr aktiv, z.B. Bauarbeiter</option>
			</select>


			</div>
<div class="center col-6">	
<h3>Ziel:</h3>

		Bitte auswählen:
			<br>
			<br>
			<select class="custom-select">
			  <option value="2_1">Abnehmen</option>
			  <option value="2_2">Gewicht halten</option>
			  <option value="2_3">Zunehmen</option> 
			</select>
			</div>
		</div>
<div class="center col-12">	
<h3>Trainingseinheiten pro Woche:</h3>

		Bitte auswählen:
			<br>
			<br>
			<select class="custom-select">
			  <option value="3_1">kein Training</option>
			  <option value="3_2">1 Training</option>
			  <option value="3_3">2 Trainings</option>
			  <option value="3_4">3 Trainings</option>
			  <option value="3_5">4 Trainings</option>
			  <option value="3_6">5 Trainings</option>
			  <option value="3_7">6 Trainings</option>
			  <option value="3_8">7 Trainings</option>
			</select>
<br>
<br>
	<button type="submit" class="btn btn-primary">Berechnen</button>	

	</div>
</form>

<div class="center col-12">	

<h2>Hier siehst du deine berechneten Kalorien:</h2>



<h3>Dein täglicher Kalorienbedarf:</h3>

<h3>Protein:</h3>

<h3>Kohlenhydrate:</h3>

<h3>Fett:</h3>



			<li>{{ dinger }}</li>
			</div>
</div>			
</div>
</section>
</body>
</html> 