{% extends "template.html" %}

{% block title %}Supplement hinzufügen{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-8 mb-3">
            <h1>Supplement hinzufügen</h1>
            <hr>
            <form method="POST">
                <div class="form-group mt-3">
                    <label for="name">Supplement</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="form-group">
                    <label for="phone">Kalorien auf 100 g</label>
                    <input type="text" class="form-control" name="cal" required>
                  </div>
                  <button type="submit" class="btn btn-info" name="action" value="add_supp">Hinzufügen</button>
            </form>
            <br>

            <h1>Lebensmittel hinzufügen</h1>
            <hr>
            <form method="POST">
                <div class="form-group mt-3">
                    <label for="name">Lebensmittel</label>
                    <input type="text" class="form-control" id="name_leb" name="name_leb" required>
                </div>
                    <div class="form-group">
                    <label for="phone">Kalorien auf 100 g</label>
                    <input type="text" class="form-control" name="cal_leb" required>
                    </div>
                  <button type="submit" class="btn btn-info" name="action" value="add_leb">Hinzufügen</button>
            </form>
            {% if error %}
                {{ error }}
            {% endif %}
        </div>
        
    </div>
</div>
{% endblock %}