{% extends "template.html" %}

{% block title %}Kalorienrechner{% endblock %}

{% block main %}
<div class="container mt-5">
  <section class="content">
          <div class="container">
            <h1>Kalorienrechner</h1>
            <hr>
              <div class="text-center">
                <h5>Der Kalorienrechner hilft dir deinen Tagesbedarf an Kalorien genau zu berechen.<h5>
                <br>
                <br>
                <p>Zudem kannst du auswählen ob du Gewicht verlieren, halten oder aufbauen möchtest. Zusätzlich werden dir die richtigen Produkte vorgeschlagen, welche dich bei deiner Zielsetzung unterstützen werden.</p>
              </div>
          </div>
  </section>
  <div class="container">
      <form method="POST">


<!-- Erste Reihe -->
      <div class="row">
          <div class="center col-12">  
            <table class="table">
              <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
            </table>
          </div>
      </div>


<!-- Zweite Reihe -->
      <div class="row">
          <div class="center col-6">  
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Geschlecht:</th>
                    </tr>
                  </thead>
                        <tbody>
                          <tr>
                            <td>
                              <input type="radio" name="maennlich"> Männlich
                              <input type="radio" name="weiblich"> Weiblich
                            </td>
                          </tr>
                        </tbody>
                </table>
          </div>

          <div class="center col-6">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Alter:</th>
                    </tr>
                  </thead>
                        <tbody>
                          <tr>
                            <td>
                                <input type="number" class="form-control" name="alter" min=”1″ max=”100″ placeholder="Bitte gib dein Alter ein">

                            </td>
                          </tr>
                        </tbody>
                </table>
          </div>
      </div>
<!-- Dritte Reihe -->

      <div class="row">
          <div class="center col-6">  
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Grösse in cm:</th>
                    </tr>
                  </thead>
                        <tbody>
                          <tr>
                            <td>
                            <form action="">
                                <input type="number" class="form-control" name="groesse" min=”1″ max=”200″ placeholder="Bitte gib deine Grösse ein (z.B. 175)">
                            </form>
                            </td>
                          </tr>
                        </tbody>
                </table>
          </div>

          <div class="center col-6">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Gewicht in kg:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                      <form action="">
                          <input type="number" class="form-control" name="gewicht" min=”1″ max=”200″ placeholder="Bitte gib deine Grösse ein (z.B. 175)">
                      </form>
                      </td>
                    </tr>
                  </tbody>
                </table>

          </div>
      </div>
<!-- Berechnen Reihe -->
      <div class="text-center">
        <div class="center col-12">
          <button type="submit" class="btn btn-info">Berechnen</button> 
        </div>
      </div>
      </form>

<!-- Ergebnis Reihe -->
      {% if ergebnis %}
        {{ ergebnis }}
      {% endif %}
  </div>
</div>
{% endblock %}