{% extends "template.html" %}

{% block title %}Personen{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Personen</h1>
            <hr>
        </div>
        {% if prod %}
            {% for key, value in prod.items() %}
                <div class="col-12 mb-3">
                    <h6>{{ key }}</h6>
                    <p>Geschlecht: {{ value ["geschlecht"] }}</p>
                    <p>Alter: {{ value ["alter"] }}</p>
                    <p>Grösse: {{ value ["groesse"] }}</p>
                    <p>Gewicht: {{ value ["gewicht"] }}</p>

                </div>
            {% endfor %}
        {% else %}
                <h3>Keine Einträge vorhanden</h3>
        {% endif %}
    </div>
</div>
{% endblock %}