{% extends "template.html" %}

{% block title %}Suchen{% endblock %}

{% block main %}

        <!-- Seite um Personen / Supplement / Lebensmittel zu suchen -->
<div class="container mt-5">
    <form method="POST">
        <div class="row justify-content-md-center">
            <div class="col-8 mb-3">
                <h1>Supplement suchen</h1>
                <hr>
                
                    <div class="form-group mt-3">
                        <input class="form-control" type="search" placeholder="Name des Supplements" name="name" aria-label="Search">
                    </div>
                    <button class="btn btn-info" type="submit" name="submit" value="supp">Suchen</button>
                
            </div>
            </div>
     </form>  
    <form method="POST">     
        
        <div class="row justify-content-md-center">
            <div class="col-8 mb-3">
                <h1>Person suchen</h1>
                <hr>
                
                    <div class="form-group mt-3">
                        <input class="form-control" type="search" placeholder="Name der Person" name="name" aria-label="Search">
                    </div>
                    <button class="btn btn-info" type="submit" name="submit" value="pers">Suchen</button>
                
            </div>
            
        </div>
    </form>
        <form method="POST">     
        
        <div class="row justify-content-md-center">
            <div class="col-8 mb-3">
                <h1>Lebensmittel suchen</h1>
                <hr>
                
                    <div class="form-group mt-3">
                        <input class="form-control" type="search" placeholder="Name des Lebensmittel" name="name" aria-label="Search">
                    </div>
                    <button class="btn btn-info" type="submit" name="submit" value="leben">Suchen</button>
                
            </div>
            
        </div>
    </form>
</div>
{% endblock %}